populate_tables
sql
*__pycache__
.vscode/
test_add_person.py
.coverage
.coveragerc
*.pyc
unallocated_persons.txt
unallocated.json
allocations.txt
.DS_Store
.cache/*
models/config.py
models/database.ini
Unallocated.txt
person.txt
view/amity2.py