populate_tables
sql
*__pycache__
.vscode/
*.db
test_add_person.py
.coverage
.coveragerc
*.pyc
unallocated_persons.txt
unallocated.json
allocations.txt
allocation.txt
.DS_Store
.cache/*
models/config.py
models/database.ini
Unallocated.txt
person.txt
models/amity2.py